@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  padding-top: 70px;
}

body.lock {
  overflow: hidden;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.header {
  background: #1D1D1D;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 185px;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  z-index: 20;
}

.logo img {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 50%;
}

.logo:hover img {
  -webkit-transform: rotate(1080deg) scale(0.9);
      -ms-transform: rotate(1080deg) scale(0.9);
          transform: rotate(1080deg) scale(0.9);
}

nav {
  width: 100%;
  height: 100%;
  max-width: 635px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation li {
  height: inherit;
}

.navigation li a {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  padding: 0 20px;
}

.navigation li a:hover {
  background: rgba(0, 0, 0, 0.85);
}

.navigation li a.strong {
  font-weight: 700;
}

.header-cart {
  max-width: 30px;
  position: relative;
}

.header-cart:hover .header-cart__count {
  top: 5%;
  padding: 4px;
}

.header-cart__count {
  position: absolute;
  top: 0%;
  right: -5px;
  width: 10px;
  height: 10px;
  padding: 5px;
  line-height: 10px;
  font-size: 14px;
  color: #fff;
  background: #f25903;
  z-index: 5;
  border-radius: 50%;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}

.header-cart__img {
  width: 100%;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.header-social {
  width: 100%;
  max-width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-social__item {
  max-width: 30px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header-social__item:hover {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header-callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  max-width: 140px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-callback__phone {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.header-callback__link {
  color: #FFFFFF;
  font-size: 14px;
}

.header-callback__link:hover {
  text-decoration: none;
}

.menu-icon {
  display: none;
}

.menu-icon span,
.menu-icon::before,
.menu-icon::after {
  position: absolute;
  left: 0;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #FFFFFF;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
}

.menu-icon::before {
  top: 0;
}

.menu-icon::after {
  bottom: 0;
}

.menu-icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu-icon.active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu-icon.active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu-icon.active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

/* Главный блок */

.intro {
  background: url(../img/intro/bg.png) no-repeat center;
  background-size: cover;
  height: calc(100vh - 70px);
  position: relative;
}

.intro::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -o-linear-gradient(271.03deg, rgba(0, 0, 0, 0) 8.04%, rgba(29, 29, 29, 0.9) 99.11%);
  background: linear-gradient(178.97deg, rgba(0, 0, 0, 0) 8.04%, rgba(29, 29, 29, 0.9) 99.11%);
}

.intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  z-index: 5;
  position: relative;
}

.intro__title {
  max-width: 785px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 67px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  background: rgba(201, 79, 79, 0.7);
}

.intro__subtitle {
  display: block;
  max-width: 650px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 110px;
}

.intro-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 585px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 276px;
  height: 66px;
  border: 2px solid;
  font-weight: bold;
  text-decoration: none;
}

.button--yellow {
  border-color: #FFE790;
  color: #1D1D1D;
  background: #FFE790;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button--yellow:hover {
  background: #1D1D1D;
  color: #FFE790;
}

.button--white {
  border-color: #FFFFFF;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button--white:hover {
  background: #1D1D1D;
  color: #FFFFFF;
}

.button--darkblue {
  border-color: #030426;
  color: #FFFFFF;
  background: #030426;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.button--darkblue:hover {
  background: #FFFFFF;
  color: #030426;
}

.intro__down {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  padding: 20px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.intro__down:hover {
  cursor: pointer;
  bottom: 4%;
  opacity: 0.5;
  -webkit-transform: translate(-50%) scale(0.8);
      -ms-transform: translate(-50%) scale(0.8);
          transform: translate(-50%) scale(0.8);
}

/* Преимущества */

.utp {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20.31%, rgba(242, 242, 242, 0)), to(#F2F2F2));
  background: -o-linear-gradient(top, rgba(242, 242, 242, 0) 20.31%, #F2F2F2 100%);
  background: linear-gradient(180deg, rgba(242, 242, 242, 0) 20.31%, #F2F2F2 100%);
  padding-bottom: 100px;
}

.title {
  font-size: 46px;
  color: #030426;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.title-section {
  margin: 40px 0 80px;
}

.title-section:after {
  content: '';
  position: absolute;
  width: 146px;
  height: 2px;
  background: #030426;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.title-invert {
  color: #FFFFFF;
}

.title-invert:after {
  background: #FFFFFF;
}

.subtitle {
  font-size: 24px;
  color: #030426;
  text-align: center;
}

.title-left {
  text-align: left;
}

.subtitle-left {
  text-align: left;
}

.utp-container {
  position: relative;
}

.utp__wrap {
  margin-top: 40px;
  position: relative;
}

.utp__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.utp__img {
  min-height: 110px;
}

.utp__name {
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.utp__text {
  text-align: center;
  padding: 0 20px;
  max-width: 315px;
}

/* Каталог */

.catalog-top-bg {
  position: relative;
  height: 145px;
  margin-bottom: -185px;
}

.catalog-top-bg:before {
  content: '';
  position: absolute;
  height: 145px;
  width: 100%;
  top: -140px;
  left: 0;
  background: url(../img/catalog/top_bg.svg) no-repeat left top;
  background-size: cover;
}

.catalog-bottom-bg {
  position: relative;
  height: 145px;
  z-index: 5;
}

.catalog-bottom-bg:before {
  content: '';
  position: absolute;
  height: 145px;
  width: 100%;
  left: 0;
  background: url(../img/catalog/bottom_bg.svg) no-repeat left top;
  background-size: cover;
}

.catalog {
  background: #fff;
  position: relative;
}

.catalog__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.catalog-item {
  background: #F7F7F7;
  border: 1px solid #D8D8D8;
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 410px;
          flex: 0 1 410px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}

.catalog-item img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.catalog-item:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.catalog-item__header {
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 90px;
  margin-top: 20px;
}

.catalog-item__title {
  font-size: 32px;
  font-weight: bold;
  color: #3C3C3C;
  text-align: center;
}

.catalog-item__subtitle {
  font-size: 24px;
  color: #3C3C3C;
  text-align: center;
}

.catalog-item__size {
  width: 48px;
  height: 54px;
  position: absolute;
  left: 10px;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/catalog/size_icon.svg) no-repeat center;
  background-size: cover;
  font-size: 30px;
  font-weight: bold;
  color: #3C3C3C;
}

.catalog-item__buttons {
  max-width: 380px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.catalog-item__button {
  background: #FFE790;
  color: #030426;
  text-align: center;
  font-weight: bold;
  width: 190px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.catalog-item__button:hover {
  background: #1D1D1D;
  color: #FFE790;
}

.catalog-item__price {
  background: #FFFFFF;
  width: 190px;
  height: 70px;
  color: #3C3C3C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
}

.catalog-item__price span {
  margin-right: 10px;
}

.catalog-button {
  margin: 0 auto;
  margin-top: 40px;
}

.sostav {
  padding-bottom: 100px;
  background: url(../img/sostav/bg.png) no-repeat center;
  background-size: cover;
  min-height: 600px;
  position: relative;
  margin-top: -145px;
  padding-top: 105px;
}

.sostav::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(12.5%, #1D1D1D), to(rgba(0, 0, 0, 0.57)));
  background: -o-linear-gradient(top, #1D1D1D 12.5%, rgba(0, 0, 0, 0.57) 100%);
  background: linear-gradient(180deg, #1D1D1D 12.5%, rgba(0, 0, 0, 0.57) 100%);
}

.sostav-container {
  position: relative;
  z-index: 5;
}

.sostav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sostav__info {
  max-width: 510px;
  position: relative;
}

.sostav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 694px;
  height: 455px;
  background: #000;
  border: 5px solid #fff;
  margin-right: 66px;
}

.sostav__title {
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 20px;
  position: relative;
}

.sostav__subtitle {
  font-size: 22px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.sostav__ul {
  margin-bottom: 30px;
}

.sostav__li {
  position: relative;
  font-size: 18px;
  color: #FFFFFF;
  margin-left: 47px;
}

.sostav__li:before {
  content: '';
  display: block;
  width: 15px;
  height: 18px;
  top: 3px;
  left: -25px;
  position: absolute;
  background: url(../img/sostav/icon_li.svg) no-repeat center;
}

.sostav__text {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  margin-bottom: 20px;
}

.sostav_arrow-1::before {
  content: url(../img/sostav/title_arrow-1.svg);
  position: absolute;
  top: 15px;
  left: -310px;
}

.sostav_arrow-2::before {
  content: url(../img/sostav/title_arrow-2.svg);
  position: absolute;
  top: 15px;
  left: -260px;
}

.sostav_arrow-3::before {
  content: url(../img/sostav/title_arrow-3.svg);
  position: absolute;
  top: 5px;
  left: -380px;
}

/* фотогалеря */

.gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 420px;
  overflow: hidden;
}

.gallery-item:hover > img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.gallery-item img {
  height: auto;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

/* Видео */

.video {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(#303030));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, #303030 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, #303030 100%);
  margin-top: -150px;
  padding-top: 150px;
}

.video-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.video-item {
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  height: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  height: 360px;
  max-width: 600px;
  margin-bottom: 40px;
}

.video-item iframe {
  position: absolute;
  width: 99%;
  height: 100%;
  left: 0;
  top: 0;
  max-height: 360px;
}

/* Отзывы */

.slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.slider-button::before {
  content: url(../img/icon-arrow-slider.svg);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button:hover {
  cursor: pointer;
}

.slider-button--utp {
  top: 40%;
  -webkit-transform: translate(0, -40%);
      -ms-transform: translate(0, -40%);
          transform: translate(0, -40%);
}

.slider-button--card {
  top: 40%;
  -webkit-transform: translate(0, -40%);
      -ms-transform: translate(0, -40%);
          transform: translate(0, -40%);
}

.slider-button-next {
  background: -webkit-gradient(linear, left top, right top, color-stop(-57.5%, rgba(196, 196, 196, 0)), to(#FFFFFF));
  background: -o-linear-gradient(left, rgba(196, 196, 196, 0) -57.5%, #FFFFFF 100%);
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) -57.5%, #FFFFFF 100%);
  border-radius: 10px 0px 0px 10px;
  right: 0;
}

.slider-button-prev {
  background: -webkit-gradient(linear, left top, right top, color-stop(-57.5%, rgba(196, 196, 196, 0)), to(#FFFFFF));
  background: -o-linear-gradient(left, rgba(196, 196, 196, 0) -57.5%, #FFFFFF 100%);
  background: linear-gradient(90deg, rgba(196, 196, 196, 0) -57.5%, #FFFFFF 100%);
  border-radius: 10px 0px 0px 10px;
  left: 0;
}

.slider-button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Отзывы */

.reviews {
  padding-bottom: 60px;
}

.reviews-bottom-bg {
  position: relative;
  height: 145px;
}

.reviews-bottom-bg::before {
  content: '';
  position: absolute;
  height: 145px;
  width: 100%;
  left: 0;
  background: url(../img/reviews/bottom_bg.svg) no-repeat left top;
  background-size: cover;
  z-index: 5;
}

.reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Обратная связь */

.callback {
  min-height: 700px;
  background: url(../img/callback/bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  margin-top: -145px;
}

.callback::before {
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 29, 29, 0.7)), to(rgba(64, 64, 64, 0.7)));
  background: -o-linear-gradient(top, rgba(29, 29, 29, 0.7) 0%, rgba(64, 64, 64, 0.7) 100%);
  background: linear-gradient(180deg, rgba(29, 29, 29, 0.7) 0%, rgba(64, 64, 64, 0.7) 100%);
}

.callback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  z-index: 5;
  position: relative;
}

.callback__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 625px;
  padding-top: 100px;
}

.callback__title {
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 70px;
}

.callback__descr {
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 40px;
}

.callback__h3 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 0px;
}

.callback__text {
  color: #FFFFFF;
  font-size: 22px;
  margin-bottom: 20px;
}

.callback__social {
  max-width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.callback__social__item {
  margin-top: 20px;
}

.callback__form {
  border: 5px solid #FFFFFF;
  background: #232323;
  max-width: 460px;
  min-width: 320px;
  width: 100%;
  height: 620px;
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  max-width: 280px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.callback__form__title {
  font-size: 22px;
  color: #FFFFFF;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.callback__input {
  border: 0;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background: #232323;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18px;
  font-family: 'PT SANS';
}

.callback__input:focus {
  outline: none;
}

.callback__fz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-left: -20px;
}

.callback__checkbox {
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
}

.callback__fz__text {
  margin-left: 10px;
  color: #FFFFFF;
}

.callback__fz__text a {
  color: #FFFFFF;
}

.callback__button {
  max-width: 256px;
  background: #90FFD7;
  border-color: #90FFD7;
  font-size: 18px;
  font-family: 'PT SANS';
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.callback__button:hover {
  border-color: #FFFFFF;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.17);
}

/* Футер */

.footer {
  background: #1D1D1D;
  color: #FFFFFF;
  padding: 20px 0;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer__politics a {
  color: #B4B4B4;
  font-size: 16px;
  text-decoration: none;
  margin-right: 20px;
}

.footer__politics a:hover {
  color: #FFE790;
}

.footer__menu {
  margin: 20px 0;
}

.footer__menu a {
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 30px;
}

.footer__menu a:hover {
  color: #FFE790;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__phone {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__phone:hover {
  color: #FFE790;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__logo span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.card {
  padding-top: 20px;
  padding-bottom: 60px;
}

.card-back {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 130px;
  width: 100%;
}

.card-back:hover {
  cursor: pointer;
  background: #f9f9f9;
}

.card-back__text {
  color: #ACACAC;
}

.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 100px;
}

.card__params {
  max-width: 545px;
  width: 100%;
}

.card__params-block {
  margin-bottom: 30px;
}

.card__params-block-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.card__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  font-size: 22px;
}

.card__count > span {
  margin-right: 20px;
}

.card__count__minus,
.card__count__plus {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__count__minus:hover,
.card__count__plus:hover {
  cursor: pointer;
}

.card__count__input {
  height: 44px;
  width: 44px;
  border: 1px solid #9B9B9B;
  outline: none;
  text-align: center;
  font-size: 22px;
}

.card-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card-type__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 170px;
  line-height: 20px;
  margin-right: 30px;
}

.card-type__item.active .box::before {
  opacity: 1;
}

.box {
  border: 2px solid #1D1D1D;
  width: 28px;
  height: 28px;
  min-width: 28px;
  min-height: 28px;
  margin-right: 10px;
  position: relative;
}

.box::before {
  content: url(../img/icon-ok.svg);
  position: absolute;
  opacity: 0;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-size__item {
  width: 48px;
  height: 54px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/catalog/size_icon.svg) no-repeat center;
  background-size: cover;
  font-size: 24px;
  font-weight: bold;
  color: #3C3C3C;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.card-size__item:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

.card-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 470px;
}

.card-color__item {
  margin-right: 10px;
  margin-bottom: 14px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.card-color__item:hover {
  cursor: pointer;
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}

.card-color__item.active {
  -webkit-filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
  position: relative;
}

.card-color__item.active::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card-color-1 {
  background: #215C4A;
}

.card-color-2 {
  background: #994E17;
}

.card-color-3 {
  background: #DD2C34;
}

.card-color-4 {
  background: #1B5271;
}

.card-color-5 {
  background: #747B8B;
}

.card-color-6 {
  background: #4A4E57;
}

.card-color-7 {
  background: #DFDDD0;
}

.card-color-8 {
  background: #CEB8A1;
}

.card-color-9 {
  background: #B88A68;
}

.card-color-10 {
  background: #936958;
}

.card-color-11 {
  background: #4D3C3A;
}

.card-color-12 {
  background: #141517;
}

.card-color-13 {
  background: #19181B;
}

.card-color-14 {
  background: #070709;
}

.card__price {
  font-size: 22px;
}

.card__price span {
  font-size: 32px;
}

.card__button {
  text-transform: uppercase;
  font-size: 22px;
}

.card__button:hover {
  cursor: pointer;
}

.card__img {
  max-width: 650px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card-slider {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.card-thumbs .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-thumbs__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 142px;
          flex: 0 1 142px;
  padding: 10px;
}

.card-thumbs__item:hover {
  cursor: pointer;
}

.card-thumbs__item img {
  max-width: 100%;
}

.card-thumbs .swiper-slide {
  width: 142px;
  height: 100%;
  opacity: 0.4;
}

.card-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.relatedProducts {
  padding-bottom: 60px;
}

.relatedProducts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.relatedProducts__border {
  height: 3px;
  width: 49%;
  background: #F25903;
}

.relatedProducts__subtitle {
  margin-bottom: 40px;
}

.relatedProducts .catalog__wrap {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.relatedProducts .catalog-item {
  margin-right: 40px;
}

.popup {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup__content {
  background: #fff;
  max-width: 800px;
  padding: 30px;
  position: relative;
}

.popup__close {
  position: absolute;
  content: url(../img/icon-close.svg);
  top: 10px;
  right: 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.popup__close:hover {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popup__title {
  font-size: 36px;
  margin: 0 0 20px 0;
}

.callbackPopup__form__title {
  font-size: 22px;
  color: #1D1D1D;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

.callbackPopup__input {
  border: 0;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #232323;
  color: #1D1D1D;
  font-size: 18px;
  font-family: 'PT SANS';
}

.callbackPopup__input:focus {
  outline: none;
}

.callbackPopup__fz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  margin-left: -20px;
}

.callbackPopup__checkbox {
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
}

.callbackPopup__fz__text {
  margin-left: 10px;
  color: #1D1D1D;
}

.callbackPopup__fz__text a {
  color: #1D1D1D;
}

.cart__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 60px;
}

.cart__wrap:last-child .cart__item--product {
  margin-bottom: 0;
}

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  padding: 0 20px;
  font-size: 20px;
}

.cart__item--product {
  background: #F8F8F8;
  border-bottom: 1px solid #C6C6C6;
  margin-bottom: 20px;
  font-size: 18px;
}

.cart__item--sum {
  border-bottom: 1px solid #C6C6C6;
  font-size: 22px;
}

.cart__item__col-1 {
  width: 70%;
}

.cart__item__col-2 {
  width: 15%;
}

.cart__item__col-3 {
  width: 10%;
}

.cart__item__col-4 {
  margin-left: auto;
  width: 5%;
}

.cart__title {
  text-decoration: none;
  color: #1D1D1D;
}

.cart__title:hover {
  text-decoration: underline;
}

.cart__descr {
  font-size: 14px;
  color: #3C3C3C;
}

.cart__remove {
  content: url(../img/icon-close.svg);
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.cart__remove:hover {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card__count--center {
  margin-left: 0;
}

.checkout {
  padding-bottom: 160px;
}

.checkout__wrap {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-bottom: 60px;
}

.checkout__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.checkout__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.checkout-radio {
  margin-bottom: 50px;
  min-height: 100px;
}

.checkout-radio--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.checkout-radio--flex .checkout-radio__item {
  margin-right: 40px;
}

.checkout-radio__item {
  font-size: 18px;
  margin-bottom: 10px;
}

.checkout-input--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.checkout-input--flex > .checkout-input__item input {
  max-width: 90%;
  margin-right: 40px;
}

.checkout-input--flex > .checkout-input__item:last-child input {
  margin-right: 0;
}

.checkout-input__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.checkout-input__item label {
  max-width: 150px;
  width: 100%;
  min-width: 150px;
}

.checkout-input__item input {
  max-width: 280px;
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 1px solid #ADADAD;
  font-size: 18px;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}

.checkout-input__item--long input {
  max-width: 100%;
}

.cart__wrap .checkout__row:last-child {
  font-size: 30px;
  color: #1D1D1D;
}

.checkout__row {
  border-bottom: 1px solid #c6c6c6;
  color: #636363;
}

.checkout__row .cart__title {
  color: #636363;
}

.checkout__row .cart__title:hover {
  text-decoration: none;
}

.checkout__row .cart__descr {
  color: #636363;
}

.checkout__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

html.magnifying > body {
  overflow-x: hidden !important;
}

.magnify,
.magnify > .magnify-lens,
.magnify-mobile,
.lens-mobile {
  /* Reset */
  min-width: 0;
  min-height: 0;
  -webkit-animation: none;
          animation: none;
  border: none;
  float: none;
  margin: 0;
  opacity: 1;
  outline: none;
  overflow: visible;
  padding: 0;
  text-indent: 0;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.magnify {
  position: relative;
  width: auto;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  z-index: inherit;
}

.magnify > .magnify-lens {
  /* Magnifying lens */
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  /* Multiple box shadows to achieve the glass lens effect */
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  cursor: none;
  display: none;
  z-index: 99;
}

.magnify > .magnify-lens.loading {
  background: #333 !important;
  opacity: 0.8;
}

.magnify > .magnify-lens.loading:after {
  /* Loading text */
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: #fff;
  content: 'Loading...';
  font: italic normal 16px/1 Calibri, sans-serif;
  letter-spacing: 1px;
  margin-top: -8px;
  text-align: center;
  text-shadow: 0 0 2px rgba(51, 51, 51, 0.8);
  text-transform: none;
}

.magnify > .magnify-lens {
  width: 200px;
  height: 200px;
}

@media (max-width: 1260px) {
  .container {
    padding: 0 20px;
  }

  .header-social__item img {
    max-width: 30px;
  }

  .navigation li {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
  }
}

@media (max-width: 1259px) {
  .intro__title {
    font-size: 46px;
  }

  .callback__info {
    max-width: 500px;
  }

  .title {
    font-size: 30px;
  }

  .cart__wrap .checkout__row:last-child {
    font-size: 24px;
  }

  .card__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .relatedProducts .catalog-item {
    margin-right: 5px;
  }
}

@media (max-width: 1023px) {
  .header-social {
    display: none;
  }

  .header-callback {
    display: none;
  }

  .menu-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 20;
  }

  .menu-body {
    position: fixed;
    left: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    max-width: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu-body.active {
    left: 0;
  }

  .navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .navigation li {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    height: 80px;
    width: 100%;
    font-size: 20px;
  }

  .navigation li a {
    color: #fff;
  }

  .checkout__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .cart__wrap .checkout__row {
    font-size: 20px;
  }

  .cart__wrap .checkout__row:last-child {
    font-size: 20px;
  }

  .checkout__button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .catalog-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 357px;
            flex: 0 1 357px;
  }

  .sostav__wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .sostav__img {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 36px;
    padding: 10px 0px;
  }

  .intro__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .intro-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 160px;
  }

  .intro__down {
    bottom: 3%;
  }

  .checkout-input--flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .checkout-input__item label {
    max-width: 100px;
    width: 100%;
    min-width: 100px;
  }

  .checkout-input__item {
    font-size: 16px;
  }

  .cart__item {
    font-size: 16px;
  }

  .cart__item__col-1 {
    width: 50%;
  }

  .cart__item__col-2 {
    width: auto;
  }

  .cart__item__col-3 {
    width: 20%;
    margin-left: auto;
  }

  .cart__item {
    min-height: 70px;
    height: auto;
  }

  .card__count__input {
    height: 22px;
    width: 22px;
    font-size: 14px;
  }

  .checkout-radio {
    margin-bottom: 50px;
    min-height: auto;
  }

  .checkout__title {
    font-size: 24px;
  }

  .checkout-radio__item {
    font-size: 16px;
  }

  .cart__wrap .checkout__row {
    font-size: 16px;
  }

  .checkout-input--flex > .checkout-input__item input {
    margin-right: 0;
  }

  .cart__wrap .checkout__row:last-child {
    font-size: 18px;
  }

  .cart__wrap .checkout__row:last-child .cart__item__col-3 {
    width: 30%;
    font-size: 24px;
  }

  .footer__politics {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .footer__right {
    margin-top: 20px;
  }

  .title {
    font-size: 30px;
  }

  .callback__form {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .card-thumbs .swiper-slide {
    width: 50% !important;
  }

  .card__count span {
    display: none;
  }

  .card__wrap {
    margin-top: 30px;
  }

  .card-type {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .card-color {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .card-type__item {
    margin-bottom: 10px;
    width: 100%;
    max-width: 100%;
  }

  .relatedProducts__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }

  .relatedProducts__border {
    width: 100%;
    margin: 10px 0;
  }

  .card {
    padding-bottom: 0;
  }

  .relatedProducts .catalog-item {
    margin-right: 0;
  }
}